%tr
  %td
    %i.glyphicon.glyphicon-file.glyphicon-icon-color
  %td
    = link_to folder_file.name, [ @folder, folder_file ]
    = link_to [ :edit, @folder, folder_file ], title: 'ファイル名の更新', remote: true do
      %i.glyphicon.glyphicon-pencil
    = link_to [ :move, @folder, folder_file ], title: 'ファイルの移動', remote: true do
      %i.glyphicon.glyphicon-share-alt
  %td= folder_file.updated_at
  %td --
  %td
    = link_to [ @folder, folder_file ], method: :delete, class: "text-danger", title: '削除',  data: { confirm: "本当に削除しますか？" } do
      %i.glyphicon.glyphicon-trash

