!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CopyDropbox
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'

    .container-fluid
      .row
        .col-sm-2
          - if user_signed_in?
            = render 'layouts/side_menu'
        .col-sm-10
          .row
            .col-sm-12
              = render 'layouts/message'
            .col-sm-10
              = breadcrumbs style: :bootstrap
            .col-sm-2
              - if user_signed_in?
                = render 'layouts/action_menu'
            .col-sm-12
              = yield
